body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  /* background: linear-gradient(to bottom, whitesmoke, gainsboro);
  background: -webkit-linear-gradient(to bottom, whitesmoke, aliceblue); */

  min-height: 100vh;
}

/* ---------------------------------------------------- */
/* NAVIGATION */
/* ---------------------------------------------------- */
.menu,
.exit {
  display: none;
}
